// Colors
$brand__color: #fff2e4;
$cta__color: #fff2e4;
$cta__colorLink: #ffd219;
$hot__color: #eb226a;
$hotDark__color: #6200ff;
$cta__contrast_color: #ffd219;
$error_color: #ffd219;
$link__color: #fff;

$heading__top-padding: 0;
$heading__bottom-padding: 0px;

$primary: $cta__color;
$primary_background__color: #eb226a;
$primary_background: mix(white, $cta__color, 90%);
$primary_bg_dark: mix(white, $cta__color, 35%);
$primary_ultralight: mix(white, $cta__color, 80%);
$primary_light: mix(white, $cta__colorLink, 25%);
$primary_darklight: mix(black, $cta__colorLink, 25%);
$primary_lightVar: mix(black, $hot__color, 25%);
$primary_dark: mix(black, $cta__color, 35%);
$primary_ultradark: mix(black, $cta__color, 80%);
$primary_darkvar: #252210;

$brand_black__color: #262833;
$paragrahp_black__color: #212529;
$grayscale_300__color: #e3e3e3;
$grayscale_600__color: #a3a3a3;
$color__light-grey: #999999;
$selection_bg__color: #2e2e2e;
$selection_txt__color: #fff;
// Breakpoints
// screen vars
$logo__max-width: 450px;
$post_page__size: 1020px;
$page__size: 960px;
$paragraph__size: 960px;
$widescreen__size: 1165px;
$tablet__size: 768px;
$tabletHack__size: 959px;
$tabletHackMinimal__size: 425px;
$boxed__tabletHackMaxWidth: 730px;
$small__size: 375px;
$desktopIndexButtons__maxWidth: 520px;
$mobileIndexButtons__maxWidth: 280px;
$tabletIndexButtons__maxWidth: 350px;
$boxed__maxWidth: 375px;
$boxedDesktop__maxWidth: 960px;
$boxedMobile__maxWidth: 375px;
//Spaces
$s__space: 16pt;

// typograph
$alternative__font: "Arial";

$main__font: var(--font-jetbrains-mono), $alternative__font, sans-serif;
// $main__fontSLUG: "IBM+Plex+Serif.woff2";

$second__font: var(--font--redressed), $alternative__font, sans-serif;
// $second__fontSLUG: "Noto+Serif.woff2";

$third__font: var(--font-josefin-sans), $alternative__font, sans-serif;
// $third__fontSLUG: "Josefin+Sans.woff2";

$fourth__font: var(--font-quattrocento), $alternative__font, sans-serif;

$fifth__font: var(--font-playfair-display), $alternative__font, sans-serif;

$sixth__font: var(--font-roboto), $alternative__font, sans-serif;

$seventh__font: var(--font-nova-flat), $alternative__font, sans-serif;

// $fourth__fontSLUG: "Open+Sans.woff2";

// $fifth__font: "JetBrains Mono", $alternative__font, sans-serif;
// $fifth__fontSLUG: "Dancing+Script.woff2";

/* latin */
// @font-face {
//   font-family: $main__font;
//   font-display: optional;
//   src: url($main__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $second__font;
//   font-display: optional;
//   src: url($second__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $third__font;
//   font-display: optional;
//   src: url($third__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $fourth__font;
//   font-display: optional;
//   src: url($fourth__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $fifth__font;
//   font-display: optional;
//   src: url($fifth__fontSLUG) format("woff2");
// }

$m__fontSize: 17px;
$h1__fontSize: 30pt;
$h2__fontSize: 24pt;
$h3__fontSize: 22pt;
$h4__fontSize: 20pt;
$h5__fontSize: 18pt;
