.page-container {
  h2 {
    text-align: center;
  }

  p {
    margin: 10px auto;
    font-family: $third__font;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    text-align: justify;
    text-align-last: left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 0;
  }
  em {
    font-style: italic;
  }
}
