.header-logo.full-width-row-child {
  margin: 0 auto;
  text-align: center;

  .logo-link {
    max-width: $logo__max-width;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: 100%;
    svg {
      padding: 25px 0;
    }
  }
}

.top-hibbon {
  height: 33px;
  p {
    line-height: 28px;
  }
  a {
    color: #fff;
    font-size: 12px;
  }
}

.full-width-row.main-header {
  max-width: 97%;
  .main-header {
    position: relative;
    .left-gray-circle {
      display: block;
      width: 20px;
      height: 20px;
      background-color: #c4c4c4;
      border-radius: 25px;
      border: 2px solid black;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .door {
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
    }
  }
}
[data-theme="dark"] .left-gray-circle {
  background-color: #1f1f1f !important;
}

.full-width-row-child.main-header {
  flex-direction: column;
  display: flex !important;
  padding: 15px 0 5px;
  grid-template-columns: 0.2fr 1fr 0.2fr !important;
  align-items: center;
  z-index: 9;
  margin: 0 auto;

  justify-content: space-between;
  width: 100%;

  .main-menu-not-visible {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .main-menu-visible {
    height: 0;
  }

  .main-logo {
    z-index: 9;
    object-fit: contain;
  }
}
.full-width-row.mobile-header {
  background-color: transparent !important;
  .logo-link svg {
    width: 100%;
  }
}

.toggle-dark-mode {
  z-index: 99;
  position: absolute;
  right: 50px;
  top: 60px;
  transform: rotate(90deg);
  display: flex;
  flex-direction: row;
  background-color: #636363;
  border-radius: 10px;
  height: 30px;
  width: 75px;
  padding: 4px 10px;
  button {
    padding: 3px;
    margin: 0 4px;
    background-color: #2a2a2a;
    border-radius: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    height: 30px;
    width: 40px;
    border: 2px solid #2a2a2a;
    cursor: pointer;

    &.active {
      border-color: #fff;
    }
    img {
      margin: 0;
    }
  }
}

.header-logo.full-width-row {
  min-width: 170px;
}
