.header-logo.full-width-row-child {
  margin: 0 auto;
  text-align: center;

  .logo-link {
    max-width: $logo__max-width;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 100%;
    svg {
      padding: 25px 0;
    }
  }
}

.top-hibbon {
  height: 33px;
  p {
    line-height: 28px;
  }
  a {
    color: #fff;
    font-size: 12px;
  }
}

.full-width-row.main-header {
  background-color: transparent !important;
  max-width: 97%;
}
.full-width-row-child.main-header {
  flex-direction: column;
  display: flex !important;
  padding: $heading__top-padding 0 $heading__bottom-padding;
  grid-template-columns: 0.2fr 1fr 0.2fr !important;
  align-items: center;
  z-index: 9;
  margin: 0 auto;

  justify-content: space-between;
  width: 100%;

  .main-menu-not-visible {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .main-menu-visible {
    height: 0;
  }

  .main-logo {
    margin-top: 10px;

    justify-self: left;

    z-index: 9;
  }
  .main-ul-ul {
    width: 200px;
    position: absolute;
    right: -95px;
    min-width: 150px;
    line-height: 33px;
    text-align: left;
    min-height: 305px;
    padding: 5px 0px;
    margin-top: 40px;
    list-style: none;
    clear: both;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display: block;
    height: 100%;

    li {
      display: inline-block;
      padding: 5px 0px;
      text-indent: 15px;
      width: 100%;
      line-height: 22px;
      font-weight: 400;
      color: $grayscale_600__color;
      white-space: nowrap;
      border: 0;
      a {
        text-transform: capitalize;
        font-size: 16px;
        width: 100%;
        line-height: 20px;
        padding: 7px 0;
        display: block;
        &:hover {
          color: white !important;
          background: $grayscale_600__color;
        }
      }
    }
  }
}
.main-header-visible {
  .main-ul {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background: #fff;
    max-width: 400px;
    right: 0;
    margin: 0 auto;
    min-height: 200px;
    border-radius: 5px;
    overflow: auto;
    line-height: 40px;
    z-index: 999;
    justify-content: center;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.4);
    a {
      color: $brand_black__color;
      text-shadow: unset;
      &:hover {
        color: $hotDark__color;
      }
    }
  }
}
.full-width-row.mobile-header {
  background-color: transparent !important;
  .logo-link svg {
    width: 100%;
  }
}

.toggle-dark-mode {
  display: flex;
  flex-direction: row;
  background-color: #636363;
  border-radius: 10px;
  height: 30px;
  width: 75px;
  padding: 4px 10px;
  button {
    padding: 3px;
    margin: 0 4px;
    background-color: #2a2a2a;
    border-radius: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    height: 30px;
    width: 40px;
    border: 2px solid #2a2a2a;
    cursor: pointer;

    &.active {
      border-color: #fff;
    }
    img {
      margin: 0;
    }
  }
}

.header-logo.full-width-row {
  min-width: 170px;
}
