:root {
	/* Your default theme */
	--background: white;
	--foreground: black;
}

[data-theme="dark"] {
	--background: black;
	--foreground: white;
}

::selection {
	color: $cta__colorLink;
	background: $hot__color;
	text-shadow: none;
}

img::selection {
	background: transparent;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #c4c4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	border: 3px solid #c4c4c4;
	background: $hot__color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.non-layout {
	z-index: 100;
	position: absolute;
	top: 1em;
	left: -9999px;
	padding: 0.5em 1em;
	background: black;
	color: #fff;
}

.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.align-to-right {
	text-align: right;
}

.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	z-index: 1;

	cursor: default;
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $second__font, $alternative__font;
		color: $primary_light;
		font-weight: 700;
		letter-spacing: normal;
	}
	h1 {
		font-size: $h1__fontSize;
	}
	h2 {
		font-size: $h2__fontSize;
	}
	h3 {
		font-size: $h3__fontSize;
	}
	h4 {
		font-size: $h4__fontSize;
	}
	h5 {
		font-size: $h5__fontSize;
	}
	strong {
		font-weight: 900;
	}
	p {
		font-family: $second__font;
		color: $primary_light;
	}
	thead,
	tbody {
		padding: $s__space;
	}
	thead {
		background-color: $grayscale_600__color;
	}
	tbody {
		background-color: $grayscale_300__color;
	}

	@media (max-width: 959px) {
		font-size: 14px;
	}
}
body.dark {
	background-color: $brand_black__color;

	h1,
	h1 > a,
	h2,
	h2 > a,
	h3,
	h3 > a,
	h4,
	h4 > a,
	h5,
	h5 > a,
	p,
	footer {
		color: black;
	}
}
a {
	color: $link__color;
	font-weight: 900;
}
p {
	letter-spacing: normal;
}
