# rename this file to .env or .env.local and supply the values listed below
# also make sure they are available to the build tool (e.g. vercel)

NEXT_PUBLIC_GA_TRACKING=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_RECAPTCHA_SECRET_KEY=
SENDGRID_API_KEY=
