/*
Theme Name: Bolonha Conversas - Next Boilerplate
Theme URI: https://miltonbolonha.com.br
Design System: TE[i]As
Description: Website feito em NextJS.
Author: Milton Bolonha - Bolonha Conversas
Template: Next Boilerplate
Version: 0.5.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Basic global settings
3.0 Modules
4.0 Helpers & Fixes
--------------------------------------------------------------*/

@import "global/vars";

/*--------------------------------------------------------------
1.0 Basic settings
--------------------------------------------------------------*/

@import "global/generic";
@import "global/base";

/*--------------------------------------------------------------
2.0 Pages
--------------------------------------------------------------*/

@import "pages/index";
@import "pages/link-tree";

/*--------------------------------------------------------------
3.1 Components
--------------------------------------------------------------*/

@import "components/row";
@import "components/buttons";
@import "components/badges";
@import "components/header";
@import "components/footer";
@import "components/main-wrapper";

/*--------------------------------------------------------------
3.1 Modules / Block Builder
--------------------------------------------------------------*/

@import "modules/landings";
@import "modules/menus";
@import "modules/pages";
@import "modules/single-post";

/*--------------------------------------------------------------
4.0 Helpers & Fixes
--------------------------------------------------------------*/

@import "helpers/responsive";
@import "helpers/helpers";
